<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI TAX CALC</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: { "50": "#A53FB8", "100": "#3CEEF9", "200": "#D9B7DF", "300": "#A1FAFF", "400": "#60a5fa", "red": "#ff4d40", "green": "#3bff93", "grey": "#dbdbdb", "800": "#1e40af", "900": "#1e3a8a", "950": "#172554" }
                    }
                },
                backgroundImage: {
                    'g-pattern': "url('img/bg-gradient.png')",
                },
                fontFamily: {
                    'body': [
                        'Inter',
                        'ui-sans-serif',
                        'system-ui',
                        '-apple-system',
                        'system-ui',
                        'Segoe UI',
                        'Roboto',
                        'Helvetica Neue',
                        'Arial',
                        'Noto Sans',
                        'sans-serif',
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol',
                        'Noto Color Emoji'
                    ],
                    'sans': [
                        'Inter',
                        'ui-sans-serif',
                        'system-ui',
                        '-apple-system',
                        'system-ui',
                        'Segoe UI',
                        'Roboto',
                        'Helvetica Neue',
                        'Arial',
                        'Noto Sans',
                        'sans-serif',
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol',
                        'Noto Color Emoji'
                    ]
                }
            }
        }
    </script>
    <script type="module" src="vue.js"></script>
</head>

<body class="bg-g-pattern h-screen bg-no-repeat bg-cover">
    <div id="app" class="m-20">
        <div class="h-screen">
            <div class="flex flex-col mx-auto w-6/7 h-5/6 bg-white rounded-lg shadow-lg">
                <nav class="bg-white shadow-lg p-4 rounded-lg">
                    <h1 class="text-center text-3xl text-gray-700 font-semibold leading-none">TAX SAVING ASSISTANT</h1>
                    <p class="text-right align-middle">
                        <button v-on:click="Clear()" class="bg-white px-4 py-2 rounded-lg border border-black">
                            Clear History
                        </button>
                        <button v-on:click="signout()"
                            class="bg-white px-4 py-2 rounded-lg border border-black ml-5">Sign Out
                        </button>
                    </p>
                </nav>
                <div id="chat-container" class="flex-grow mt-10 overflow-scroll">
                    <div v-for="message in messages" :key="message.id" class="py-2 mx-20 p-2 pb-5 rounded-lg">
                        <div v-if="message.index % 2 == 0" class="bg-primary-200 rounded-lg p-5">
                            <div v-if="message.type == 0">
                                <div class="text-left flex">
                                    <div class="mr-auto flex text-base align-middle">
                                        <img src="img/logo.png" alt="" class="mr-5 h-12 w-12 rounded-full">
                                        {{ message.text }}
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="message.type == 1">
                                <div v-html="message.text"></div>
                            </div>

                            <div>
                                <button @click="Feedback(message.index)"><svg xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
                                    </svg></button>
                            </div>

                        </div>
                        <div v-else class="bg-primary-300 rounded-lg p-5">
                            <div class="text-right flex">
                                <div class="ml-auto flex text-base align-middle">
                                    {{ message.text }}
                                    <img v-bind:src="user_obj.profPic" alt="" class="ml-5 h-12 w-12 rounded-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 mx-20 p-2 pb-5 rounded-lg">
                        <div v-if="streaming" class="bg-primary-200 rounded-lg p-5">
                            <div class="text-left flex">
                                <div class="mr-auto flex text-base align-middle">
                                    <img src="img/logo.png" alt="" class="mr-5 h-12 w-12 rounded-full">
                                    <div :key="stream_msg">
                                        {{ stream_msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pl-20 pr-20 pb-10 pt-10">
                    <!-- Textbox content -->
                    <div class="flex" @keyup.enter="addMessage()">
                        <textarea type="text" placeholder="Enter your message..."
                            class="w-full px-4 py-2 rounded-md border border-gray-300 h-12 resize-none focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent"
                            v-model="newMessage"></textarea>
                        <button
                            class="ml-2 px-4 py-2 bg-primary-50 text-white rounded-md hover:bg-primary-100 hover:text-black"
                            @click="addMessage()">
                            <svg class="w-6 h-6 text-gray-800 text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>