<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI TAX CALC</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: { "50": "#A53FB8", "100": "#3CEEF9", "200": "#D9B7DF", "300": "#A1FAFF", "400": "#60a5fa", "red": "#ff4d40", "green": "#3bff93", "grey": "#dbdbdb", "800": "#1e40af", "900": "#1e3a8a", "950": "#172554" }
                    }
                },
                backgroundImage: {
                    'g-pattern': "url('img/bg-gradient.png')",
                },
                fontFamily: {
                    'body': [
                        'Inter',
                        'ui-sans-serif',
                        'system-ui',
                        '-apple-system',
                        'system-ui',
                        'Segoe UI',
                        'Roboto',
                        'Helvetica Neue',
                        'Arial',
                        'Noto Sans',
                        'sans-serif',
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol',
                        'Noto Color Emoji'
                    ],
                    'sans': [
                        'Inter',
                        'ui-sans-serif',
                        'system-ui',
                        '-apple-system',
                        'system-ui',
                        'Segoe UI',
                        'Roboto',
                        'Helvetica Neue',
                        'Arial',
                        'Noto Sans',
                        'sans-serif',
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol',
                        'Noto Color Emoji'
                    ]
                }
            }
        }
    </script>
    <script type="module" src="vue.js"></script>
</head>

<body class="bg-g-pattern h-screen bg-no-repeat bg-cover">
    <div id="app" class="m-20">
        <div class="h-screen">
            <div class="flex flex-col mx-auto w-6/7 h-5/6 bg-white rounded-lg shadow-lg">
                <nav class="bg-white shadow-lg p-4 rounded-lg">
                    <h1 class="text-center text-3xl text-gray-700 font-semibold leading-none">TAX SAVING ASSISTANT</h1>
                    <p class="text-right align-middle">
                        <button v-on:click="Clear()" class="bg-white px-4 py-2 rounded-lg border border-black">
                            Clear History
                        </button>
                        <button v-on:click="signout()"
                            class="bg-white px-4 py-2 rounded-lg border border-black ml-5">Sign Out
                        </button>
                    </p>
                </nav>
                <div id="chat-container" class="flex-grow mt-10 overflow-scroll">
                    <div v-for="message in messages" :key="message.id" class="py-2 mx-20 p-2 pb-5 rounded-lg">
                        <div v-if="message.index % 2 == 0" class="bg-primary-200 rounded-lg p-5">
                            <div v-if="message.type == 0">
                                <div class="text-left flex">
                                    <div class="mr-auto flex text-base align-middle">
                                        <img src="img/logo.png" alt="" class="mr-5 h-12 w-12 rounded-full">
                                        {{ message.text }}
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="message.type == 1">
                                <div v-html="message.text"></div>
                            </div>

                            <div>
                                <div v-if="message.feedback">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        viewBox="0 0 24 24">
                                        <path fill-rule="evenodd"
                                            d="M8.97 14.316H5.004c-.322 0-.64-.08-.925-.232a2.022 2.022 0 0 1-.717-.645 2.108 2.108 0 0 1-.242-1.883l2.36-7.201C5.769 3.54 5.96 3 7.365 3c2.072 0 4.276.678 6.156 1.256.473.145.925.284 1.35.404h.114v9.862a25.485 25.485 0 0 0-4.238 5.514c-.197.376-.516.67-.901.83a1.74 1.74 0 0 1-1.21.048 1.79 1.79 0 0 1-.96-.757 1.867 1.867 0 0 1-.269-1.211l1.562-4.63ZM19.822 14H17V6a2 2 0 1 1 4 0v6.823c0 .65-.527 1.177-1.177 1.177Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div v-else>
                                    <button @click="Feedback(message.index)"><svg
                                            class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M17 13c-.889.086-1.416.543-2.156 1.057a22.322 22.322 0 0 0-3.958 5.084 1.6 1.6 0 0 1-.582.628 1.549 1.549 0 0 1-1.466.087 1.587 1.587 0 0 1-.537-.406 1.666 1.666 0 0 1-.384-1.279l1.389-4.114M17 13h3V6.5A1.5 1.5 0 0 0 18.5 5v0A1.5 1.5 0 0 0 17 6.5V13Zm-6.5 1H5.585c-.286 0-.372-.014-.626-.15a1.797 1.797 0 0 1-.637-.572 1.873 1.873 0 0 1-.215-1.673l2.098-6.4C6.462 4.48 6.632 4 7.88 4c2.302 0 4.79.943 6.67 1.475" />
                                        </svg>
                                    </button>
                                </div>

                            </div>

                        </div>
                        <div v-else class="bg-primary-300 rounded-lg p-5">
                            <div class="text-right flex">
                                <div class="ml-auto flex text-base align-middle">
                                    {{ message.text }}
                                    <img v-bind:src="user_obj.profPic" alt="" class="ml-5 h-12 w-12 rounded-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 mx-20 p-2 pb-5 rounded-lg">
                        <div v-if="streaming" class="bg-primary-200 rounded-lg p-5">
                            <div class="text-left flex">
                                <div class="mr-auto flex text-base align-middle">
                                    <img src="img/logo.png" alt="" class="mr-5 h-12 w-12 rounded-full">
                                    <div :key="stream_msg">
                                        {{ stream_msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pl-20 pr-20 pb-10 pt-10">
                    <!-- Textbox content -->
                    <div class="flex" @keyup.enter="addMessage();">
                        <textarea type="text" placeholder="Enter your message..."
                            class="w-full px-4 py-2 rounded-md border border-gray-300 h-12 resize-none focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent"
                            v-model="newMessage"></textarea>

                        <button v-if="streaming==false" type="button"
                            class="ml-2 px-4 py-2 bg-primary-50 text-white rounded-md hover:bg-primary-100 hover:text-black"
                            @click="addMessage()">
                            <svg class="w-6 h-6 text-gray-800 text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4" />
                            </svg>
                        </button>
                        <button v-else type="button"
                            class="ml-2 px-4 py-2 bg-primary-50 text-white rounded-md hover:bg-primary-100 hover:text-black"
                            disabled>
                            <svg aria-hidden="true"
                                class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentFill" />
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>